<div class="row">
    <div class="col-lg-7 py-2">
        <div class="card dashboard-card">
            <div class="card-body">
                <h1 class="dashboard-title text-center">Total Afiliados</h1>
                <p class="dashboard-subtitle text-center">{{count}}</p>
            </div>
        </div>
    </div>

    <!-- seccion dos -->
    <div class="col-lg-5 py-2">
        <div class="card dashboard-card-identity">
            <div class="card-body">
                <h1 class="dashboard-title">{{identity[0].names}} {{identity[0].lastnames}}</h1>
                <p class="dashboard-subtitle">
                    Me alegra verte más seguido por la plataforma, recuerda que si
                    tienes algún incoveniente, puedes contactarme a
                    <a href="#" class="dashboard-email">pcusir@gmail.com</a>.
                </p>
            </div>
        </div>
    </div>
</div>


<div class="fixed-bottom">
  <p class="lead text-center font-weight-bold">© Todos los derechos reservados - Sintransa 2020</p>
</div>
