<div class="container py-5">
    <div class="row">
        <div class="col-lg-6">
            <img src="assets/images/user-laptop.svg" class="w-75 mx-5">
        </div>
        <div class="col-lg-6 py-5">
            <h1 class="login-title">SINTRANSA</h1>
            <mat-spinner [diameter]="30" class="login-loading" *ngIf="isLoading == true;"></mat-spinner>
            <form class="login-form py-4" [formGroup]="formGroup" (ngSubmit)="submit()">
                <div class="form-group">
                    <mat-form-field appearance="legacy" class="login-input">
                        <mat-label class="login-input-label">Usuario</mat-label>
                        <input matInput type="text" formControlName="username">
                        <mat-icon matPrefix class="login-input-icon">person</mat-icon>
                        <mat-hint>{{ getError('username') }}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field appearance="legacy" class="login-input">
                        <mat-label class="login-input-label">Contraseña</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matPrefix class="login-input-icon">lock</mat-icon>
                        <mat-hint>{{ getError('password') }}</mat-hint>
                    </mat-form-field>
                </div>
                <div class="form-group py-2">
                    <small (click)="forgetPass()">¿Has olvidado tu contraseña?</small>
                </div>
                <input type="submit" class="login-btn btn my-3" value="INGRESAR"
                    [disabled]="formGroup.invalid">
            </form>
        </div>
    </div>
</div>